:root {
    --headerColor: blue;
    --darkblue: #2c3e50;
    --lightblue: #3498db;
}

/* Header element selector */
header {
    background-color: var(--headerColor);
    color: white;
    text-align: center;
    padding: 20px 0px;
}



.horizontalSpread {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* .left-column {
    /* background-color: red; */
/* } */

/* #searched-cities { */
    
/* } */

.searchedCitiesButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    margin: 10px 0px;
    border-radius: 6px;
    background-color: gray;
}

.searchedCitiesButtons:hover {
    background-color: var(--lightblue);
    
}

.immediateWeatherStyling {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-color: black;
    margin: 10px;
    text-align: center;
}

#search-button {
    display: flex;
    align-items: center;
    width: 100%;
    text-align: center;
    margin: 10px 0px;
    border-radius: 6px;
    background-color: gray;
}

#search-button:hover{
    background-color: var(--lightblue);
}