:root {
    --headerColor: blue;
    --darkblue: #2c3e50;
    --lightblue: #3498db;
}

/* Header element selector */
header {
    background-color: blue;
    color: white;
    text-align: center;
    padding: 20px 0px;
}

.left-column {
    /* background-color: red; */
}

#searched-cities {
    
}

.searchedCitiesButtons {
    display: flex;
    flex-direction: column;
}